* {
    box-sizing: border-box;

}

#nov, #ev{
    border-radius: .4em;
    border: 1px solid #7312BA;
}

h3, #tod, #fab{
    color: #EC0910;
}

textarea{
    resize: none;
}

textarea:focus,
button:focus{
    box-shadow: none !important;
}

#logoFeria {
    width: 132px;
    height: 101px;
    background: url("../imagenes/logo.png") no-repeat center center;
    font-size: 0;
    z-index: 1034;
    top: 0px;
    left: 20px;
}

header {
    height: 101px;
    box-shadow: 0 0.05em 0.5em rgba(30, 50, 50, .25);
    display: flex;
    justify-content: space-between;
}

main {
    min-height: calc(100vh - 180px);
}

nav {
    height: 101px;
}

#app{
    margin-top: 130px;
}

.nav-item:active {
    background-color: orange !important;
}

#noti{
    position: fixed;
    top: 120px;
    right: 25px;
    z-index: 1;
}

#novedades .card{
    border:none !important;
}

#novedades .card-header{
    background: none;
    padding: 10px;
    border-color: #e6e6e6;
}

#novedades .nav-link{
    color:#EC0910;
    font-weight: bold;
}

#novedades .nav-link.collapsed{
    font-weight: normal;
}

h2 {
    font-size: 36px;
    color: #cb0359;
}

footer {
    background-color: #cb0359;
    color: white;
    padding: 2em 4em;
    width: 100%;
    margin-top: 50px;
}

footer ul {
    width: fit-content;
    list-style: none;
    font-size: 1em;
}

footer ul li a {
    font-size: 1em;
    text-decoration: none;
    color: white;
}

footer ul li a:hover{
    color: orange;
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    #menu {
        margin: 54px;
        width: 100%;
        z-index: 3000;
        background-color: white
    }
}

@media screen and (max-width: 1280px) {
    #prox {
        display: none;
    }
}